<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479285165834-bjdeaqg7el3dqnlr1fu1lft8e8nrtnnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479285165834-bjdeaqg7el3dqnlr1fu1lft8e8nrtnnh</string>
	<key>API_KEY</key>
	<string>AIzaSyCg7YUdmECg23Ex0T3r-RZNStecOifn0ic</string>
	<key>GCM_SENDER_ID</key>
	<string>479285165834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makfydriver</string>
	<key>PROJECT_ID</key>
	<string>makfy-5a108</string>
	<key>STORAGE_BUCKET</key>
	<string>makfy-5a108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479285165834:ios:5db908ca4c05849ca684f3</string>
</dict>
</plist>